on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
         path: './src/github.com/kevinburke/twilio-go'
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        cache-dependency-path: |
          ./src/github.com/kevinburke/twilio-go/go.sum
    # staticcheck needs this for GOPATH
    - run: |
        echo "GOPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV
        echo "PATH=$GITHUB_WORKSPACE/bin:$PATH" >> $GITHUB_ENV
    - name: Download dependencies
      run: go get -t -v ./...
      working-directory: './src/github.com/kevinburke/twilio-go'
    - name: Run tests
      run: make ci
      working-directory: './src/github.com/kevinburke/twilio-go'
